**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/bin/
**/obj/
src/DBH.Blockchain.Network/
scripts/
docs/
.postman/
**/*.user
**/Dockerfile*
**/docker-compose*
**/*.md
**/tests/
**/*.log
README.md